[submodule "3rdparty/github-InspectorWidget-libuiohook"]
	path = 3rdparty/github-InspectorWidget-libuiohook
	url = https://github.com/InspectorWidget/libuiohook.git
[submodule "3rdparty/github-InspectorWidget-PartialCsvParser"]
	path = 3rdparty/github-InspectorWidget-PartialCsvParser
	url = https://github.com/InspectorWidget/PartialCsvParser.git
[submodule "3rdparty/github-InspectorWidget-PEGTL"]
	path = 3rdparty/github-InspectorWidget-PEGTL
	url = https://github.com/InspectorWidget/PEGTL.git
[submodule "3rdparty/github-InspectorWidget-rapidjson"]
	path = 3rdparty/github-InspectorWidget-rapidjson
	url = https://github.com/InspectorWidget/rapidjson.git
